@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-light: hsl(189, 41%, 97%);
  --clr-light-second: hsl(184, 41%, 87%);
  --clr-light-third: hsl(189, 41%, 84%);
  --clr-normal: hsl(172, 67%, 45%);
  --clr-dark: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-white: white;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.1rem;
}

/* Main Styles */

.background {
  background-color: var(--clr-light-second);
  height: 100vh;
}

.logo {
  margin: 0 auto;
  width: 5rem;
}

.logo > img {
  margin: 2.5rem 0;
}

.main-container {
  background-color: var(--clr-white);
  border-radius: 35px 35px 0 0;
  padding: 2rem;
}

label {
  display: block;
  color: var(--dark-grayish-cyan);
  margin-top: 1rem;
}

input[type="number"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: end;
  -moz-appearance: textfield;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

.percents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.percents > div {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 5px;
}

.percents > div:hover {
  background-color: var(--clr-normal);
}

.percents input[type="number"] {
  margin: 0;
  padding: 0.5rem;
}

.percents input[type="number"]::placeholder {
  color: var(--clr-dark);
  font-size: 1.3rem;
  font-weight: 700;
}

/* Tips Results*/

.tips {
  background-color: var(--clr-dark);
  border-radius: 15px;
  padding: 2rem 1.2rem;
}

.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0;
}

#amt {
  font-size: 1rem;
  color: var(--clr-white);
}

#person {
  font-size: 0.875rem;
  color: var(--clr-normal);
}

.amount-total,
.total-amount {
  font-size: 1.675rem;
  color: var(--clr-normal);
  font-weight: 700;
}

.btn {
  width: 100%;
  padding: 0.8rem 0;
  margin-top: 2rem;
  background-color: var(--clr-normal);
  color: var(--clr-dark);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}
